body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #222222;
    color: white;
    overflow-x: hidden;
}

h1 {
    color: white;
}

hr {
    color: white;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: white;
    font-weight: bold;
}

.omdb-details, .local-item-details {
    position: relative;
    z-index: 1;
}

.poster-bg {
	position: absolute;
	width: 115vw;
	height: 115vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	opacity: 0.4;
}

.poster-bg img {
	height: 100%;
	width: 100%;
	filter: blur(40px);
}